extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        //- Add project title
        h1 #{projectToShow.project_name}

        //- Add the project description
        p #{projectToShow.description}

      .project-tech-links-box.box
        h6 #{projectToShow.technologies}
        ul

          //- Iterate through technologies in project 
          each technology in projectToShow.technologies 
            li #{technology}

        a.btn-link(href=`${projectToShow.live_link}`) Live Demo
        a.btn-link(href=`${projectToShow.github_link}`) GitHub Repo

    .project-img-box.box

      //- Add URLs to project images, and add descriptions
      img.project-img(src=`${projectToShow.image_urls[1]}`, alt='project-image-1')
      img.project-img(src=`${projectToShow.image_urls[2]}`, alt='project-image-2')
      img.project-img(src=`${projectToShow.image_urls[3]}`, alt='project-image-3')

    nav.nav
      a(href='/')
        span &larr;
        |  Back
